.App {
  text-align: center;
}
/* Variables
================================== */
/* Tables
================================== */
@keyframes slideTop{
  from {
    transform: translateY(100%)
  }
  to {
    transform: translateY(0%);
  }
}

.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 25px 3em 0;
  height: 80vh;
  padding: 0;
  width: 90vw;
  animation: slideTop 1s;
  border: 2px solid #330662;
  box-shadow: 0 2px 4px 0;
}
.Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style: none;
  border: 1px solid black;
  color: black;
  background-color: #e8e6e4;
  font-size: 20px;
  font-family: Courier New;
}
.Rtable-cell > h1,
.Rtable-cell > h2,
.Rtable-cell > h3,
.Rtable-cell > h4,
.Rtable-cell > h5,
.Rtable-cell > h6 {
  margin: 0;
}
/* Table column sizing
================================== */
.Rtable--2cols > .Rtable-cell {
  width: 50%;
}
.Rtable--3cols > .Rtable-cell {
  width: 33.33%;
}
.Rtable--4cols > .Rtable-cell {
  width: 25%;
}
.Rtable--5cols > .Rtable-cell {
  width: 20%;
}
.Rtable--6cols > .Rtable-cell {
  width: 16.6%;
}
.Rtable--6cols > .reg-num {
  width: 12%;
}
.Rtable--6cols > .date {
  width: 14%;
}
.Rtable--6cols > .start {
  width: 16.6%;
}
.Rtable--6cols > .end {
  width: 16.6%;
}
.Rtable--6cols > .class-name {
  width: 20%;
}
.Rtable--6cols > .professor {
  width: 20%;
}
/* Responsive
==================================== */
@media all and (max-width: 768px) {
  .Rtable--collapse {
    display: block;
    border: none;
    box-shadow: none;
  }
  .Rtable--collapse > .Rtable-cell {
    width: 100% !important;
    box-shadow: 0 4px 6px 0 #330662;
  }
  .Rtable--collapse > .Rtable-cell--foot {
    margin-bottom: 1em;
  }
}
.no-flexbox .Rtable {
  display: block;
}
.no-flexbox .Rtable > .Rtable-cell {
  width: 100%;
}
.no-flexbox .Rtable > .Rtable-cell--foot {
  margin-bottom: 1em;
}
